$text-222: #222;
$text-666: #666;
$text-999: #999;
$cat-text-color: #151515;
$nav-text-color: #4d4d4d;
$nav-active-text-color: #EA232A;
$base-red: #ed0000;
$base-bg: #f4f4f4;
$base-bottom: #ededed;
$white: #fff;
$btn-unclick: #c7c7cc;