.cate-wrap {
  .cate-header {
    position: relative;
    @include w(100%);
    overflow: hidden;

    .cate-title {
      @include h(0.44rem);
      @include flex-box();
      font-size: 0.17rem;
    }

    .cate-input-wrap {
      border-bottom: 1px solid $base-bottom;
      padding: 10px;

      .cate-input-cantent {
        @include border-rudis(100%, 0.39rem, 0.19rem, $base-bottom);
        @include flex-box();

        span {
          @include font(0.15rem, $c999);

          &:nth-child(2) {
            margin-left: $m10;
          }
        }
      }
    }
  }
}
