.bottom-nav {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  background: $white;
  border-top: 1px solid $border;
  @include size(100%, 0.44rem);

  ul {
    height: 100%;
    @include flex-box(space-around, center);

    li {
      a {
        display: block;
        @include flex-box(center, center, column);

        i {
          font-size: 0.22rem;
          margin-bottom: 0.025rem;
          color: inherit;
        }

        span {
          font-size: 0.12rem;
          color: inherit;
        }

        &.active {
          color: $nav-active-text-color;
        }
      }
    }
  }
}
